@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic");
.background-prop, .hero, .gallery {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

* {
  box-sizing: border-box; }

#mapid {
  height: 400px;
  width: 100%; }

.row:after, .row:before {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 20px; }

.no-padding {
  padding: 0; }

/*desctop */
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-30offer {
  width: 30%; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #FCFAE2; }

.container {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto; }

.logo {
  display: inline-block; }

.logo img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 20px; }

.header {
  background-color: #5F9F9F;
  height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #fff; }

.menu-nav {
  float: right; }

.menu-nav li {
  display: inline-block; }

.navbar ul li a {
  text-decoration: none;
  padding: 20px;
  color: #fff;
  font-weight: bold; }

.navbar ul li:hover a {
  background-color: #A67D3D;
  transition: 2s; }

.hero {
  background-image: url("../img/hero.jpg");
  height: calc(100vh - 60px);
  min-height: 300px;
  width: 100%;
  background-attachment: fixed; }

.slogan {
  background-color: rgba(49, 50, 52, 0.5);
  float: right;
  margin-top: 40vh;
  position: absolute;
  right: 0;
  color: #fff;
  letter-spacing: 3px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 1.5rem;
  z-index: 2; }

.slogan h1 {
  color: #A67D3D;
  text-shadow: 2px 2px 5px #fff; }

.dog1 {
  background-image: url("../img/dog1.jpg");
  margin-right: 5%; }

.dog2 {
  background-image: url("../img/dog2.jpg");
  margin-right: 5%; }

.dog3 {
  background-image: url("../img/dog3.jpg"); }

.offer {
  margin-top: 60px; }

.offer h1 {
  text-align: center;
  color: #A67D3D;
  padding-bottom: 30px;
  position: relative;
  font-size: 30px; }

.offer h1:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 40%;
  height: 5px;
  width: 0px;
  background-color: #A67D3D;
  transform: translateX(-50%);
  transition-duration: 2s;
  transition-property: width; }

.offer h1:hover:after {
  width: 180px; }

.gallery {
  position: relative; }

.layer {
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 150px;
  color: transparent;
  background-color: transparent;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold; }

.layer p:nth-child(1) {
  color: #fff;
  font-size: 25px; }

.layer:hover p:nth-child(2) {
  transition-delay: 0.2s;
  transform: scale(1.2);
  transition-duration: 0.5s; }

.layer p:nth-child(3) {
  font-size: 25px;
  line-height: 30px;
  padding: 10px;
  display: inline-block;
  color: transparent; }

.layer:hover p:nth-child(3) {
  font-size: 30px;
  border: 2px solid #5F9F9F;
  background-color: transparent;
  color: #fff;
  transition-delay: 0.4s;
  transform: scale(1.2);
  transition-duration: 0.5s; }

.layer p {
  margin: 0; }

.col-30offer:hover .layer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer; }

.layer h1 {
  transition: 3s; }

.directions {
  margin-top: 60px;
  text-align: center; }

.directions h1 {
  text-align: center;
  color: #A67D3D;
  padding-bottom: 30px;
  position: relative;
  font-size: 30px; }

.directions h1:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 40%;
  height: 5px;
  width: 0;
  background-color: #A67D3D;
  transform: translateX(-50%);
  transition-duration: 2s;
  transition-property: width; }

.directions h1:hover:after {
  width: 100px; }

.directions i.fa {
  border: 2px solid #5F9F9F;
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px; }

.row-flex {
  margin: 20px; }

.opinion {
  margin-top: 60px; }

.opinion h1 {
  text-align: center;
  color: #A67D3D;
  padding-bottom: 30px;
  position: relative;
  font-size: 30px; }

.opinion h1:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 40%;
  height: 5px;
  width: 0px;
  background-color: #A67D3D;
  transform: translateX(-50%);
  transition-duration: 2s;
  transition-property: width; }

.opinion h1:hover:after {
  width: 180px; }

#carousel {
  margin-top: 60px;
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #fff;
  position: relative; }

#carousel img {
  width: 800px;
  height: 100%;
  float: right; }

#carousel ul li {
  width: 1200px;
  height: 100%;
  float: left;
  position: relative; }

#carousel ul {
  height: 400px;
  width: 7200px;
  list-style-type: none;
  padding: 0;
  margin: 0; }

#carousel ul li p {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 800px;
  text-align: right;
  font-size: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0px; }

.map img {
  width: 100%;
  height: auto; }

footer {
  background-color: #5F9F9F;
  text-align: center; }

input, label {
  display: none; }

/*RWD */
/*medium class */
@media(min-width: 768px) and (max-width: 1199px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; }

  .col-m-32offer {
    width: 32%; }

  .dog1-m {
    margin-right: 2%; }

  .dog2-m {
    margin-right: 2%; }

  #carousel {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #fff;
    position: relative; }

  #carousel ul li {
    width: 800px;
    height: 100%;
    float: left;
    position: relative; }

  #carousel ul {
    height: 400px;
    width: 4800px;
    list-style-type: none;
    padding: 0;
    margin: 0; }

  #carousel img {
    width: 80%;
    height: 400px; }

  #carousel ul li p {
    right: 80%; } }
/*tablet */
@media(max-width: 767px) {
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; }

  .col-s-30offer {
    width: 30%; }

  .dog1-s {
    margin-bottom: 5%; }

  .dog2-s {
    margin-bottom: 5%; }

  .slogan-s {
    background-color: rgba(49, 50, 52, 0.5);
    float: right;
    margin-top: 50vh;
    position: absolute;
    right: 0;
    color: #fff;
    letter-spacing: 2px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1rem; }

  .menu-nav {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
    padding: 0;
    margin: 0; }

  .navbar ul li {
    line-height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: rgba(95, 159, 159, 0.5);
    width: 100vw;
    padding: 15px; }

  .navbar ul li:hover a {
    background-color: rgba(95, 159, 159, 0); }

  .layer {
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 150px;
    color: #fff;
    background-color: transparent;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold; }

  .layer p:nth-child(3) {
    font-size: 30px;
    border: 2px solid #5F9F9F;
    background-color: transparent;
    color: #fff; }

  .layer:hover p:nth-child(2) {
    transition-delay: 0;
    transform: scale(1);
    transition-duration: 0; }

  .layer:hover p:nth-child(3) {
    transition-delay: 0;
    transform: scale(1);
    transition-duration: 0; }

  /*hamburger */
  label {
    display: block; }

  #menu-button:not(:checked) ~ ul {
    display: none; }

  #menu-button:checked ~ ul {
    display: block; }

  .hamburger-toggle {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 10px;
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background-color: #A67D3D;
    position: absolute;
    display: block;
    content: ""; }

  .hamburger-toggle:before {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background-color: #A67D3D;
    position: absolute;
    display: block;
    content: "";
    top: -10px; }

  .hamburger-toggle:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background-color: #A67D3D;
    position: absolute;
    display: block;
    content: "";
    bottom: -10px; }

  #carousel {
    width: 100%; }

  #carousel img {
    width: 100%; }

  #carousel ul li p {
    right: 80%; } }

/*# sourceMappingURL=style.css.map */
